/* Write some CSS below */

h1{
	color: black;
	font-size: : 100px;
	font-weight: bold;
	}

div{
	margin: 30px;
	padding: 20px 20px;
	}

p{
	font-family: 'Overpass', sans-serif;
	color: #09B1BA;
	font-weight: bold;
	}


#logo{
	width: 70px;
	}


#card_container{
	display: flex;
	}

/*Custom class design*/

.banner{
	display: flex;
	}

.image_circle{
	border-radius: 50%;
	width: 50px;
	}

.image_square{
	width: 175px; 
	height: 175px; 
	object-fit: cover;
	}

.card_white{
	background-color: white;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	padding: 18px;
	border-radius: 3px;
	}


.button_blue{
	font-size: 20px;
	border-radius: 6px;
	border: 2px solid #09B1BA;
	font-family: 'Overpass', sans-serif;
	color: #09B1BA;
	text-decoration: none;
	font-weight: bold;
	}


.button_grey_text{
	font-family: 'Overpass', sans-serif;
	color: grey;
	background-color: white;
	text-decoration: none;
	font-weight: bold;
	}

.button_grey_backg{
	font-size: 20px;
	border-radius: 6px;
	background: #B5B5B5;
	border: 2px solid #B5B5B5;
	font-family: 'Overpass', sans-serif;
	color: white;
	text-decoration: none;
	font-weight: bold;
	}

.button_blue_backg{
	font-size: 20px;
	border-radius: 6px;
	background: #09B1BA;
	border: 2px solid #09B1BA;
	font-family: 'Overpass', sans-serif;
	color: white;
	text-decoration: none;
	font-weight: bold;
	}


.button_classic_link{
	font-size: 15px;
	font-family: 'Overpass', sans-serif;
	color: #09B1BA;
	font-weight: bold;
	}

.footer p {
	background: #09B1BA;
  	color: white;

